visual_studio_projekti/Probality_calc/Probality_calc/.vs/
visual_studio_projekti/Probality_calc/Probality_calc/Probality_calc/.bin/
visual_studio_projekti/Probality_calc/Probality_calc/Probality_calc/.obj/
